<%# Formulaire Modif / Créer %>



<div class="">
<%= form_with(model: siteweb) do |form| %>
  <% if siteweb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(siteweb.errors.count, "error") %> prohibited this siteweb from being saved:</h2>

      <ul>
        <% siteweb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tag %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_area :url %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
</div>
