<div class="container">

  <div id="<%= dom_id siteweb %>">
    <p>

      <img class="logosite" src="<%= siteweb.image %>" alt="">

    </p>

    <p class="titredusite">
      <strong> <%= siteweb.name %> </strong>

    </p>

    <p class="tagsite">
      <strong>Tag:</strong>
      <%= siteweb.tag %>
    </p>

    <p>

      <p><a class="lienhypertextesite" href="#"><%= siteweb.url %></a></p>

    </p>

    <p>
      <strong>Description:</strong>
      <%= siteweb.description %>
    </p>

  </div>
</div>
