<%# Card de base %>
<div class="contenu ">

<div class="base bg textbase ">


  <div id="<%= dom_id siteweb %>">
    <p>

      <img class="logosite" src="<%= siteweb.image %>" alt="">

    </p>

    <p class= "titredusite textbase">
      <strong> <%= siteweb.name %> </strong>

    </p>

    <p class="tagsite textbase">
      <strong>Tag:</strong>
      <%= siteweb.tag %>
    </p>

    <p>

      <p class="textbase"><a class="lienhypertextesite textbase" href="#"><%= siteweb.url %></a></p>

    </p>

    <p class="textbase">
      <strong>Description:</strong>
      <%= siteweb.description %>
    </p>
    </div>
  </div>
</div>
</div>
