<%# Lien entre les liens %>

<div class="bg">

<p style="color: green"><%= notice %></p>

<%= render @siteweb %>

<div>
  <button class='btn decal'> <%= link_to "Modifier le site", edit_siteweb_path(@siteweb) %> </button>
  <button class='btn decal'> <%= link_to "Retour", sitewebs_path %> </button>
    <%= button_to "Supprimer ce site web", @siteweb, method: :delete, class:"newwebsite decal" %>

</div>

</div>
