<p style="color: green"><%= notice %></p>

<%= render @siteweb %>

<div>
  <%= link_to "Edit this siteweb", edit_siteweb_path(@siteweb) %> |
  <%= link_to "Back to sitewebs", sitewebs_path %>

  <%= button_to "Destroy this siteweb", @siteweb, method: :delete %>
</div>
