<!DOCTYPE html>
<html>

  <div class="fond bg">
  <head>
    <title>Database</title>
    <link rel="icon" type="image/x-icon" href="/home/thomas/dev/Database/app/assets/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Righteous&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Righteous&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="basic bg">
    <div class='center'>
      <img class='imgprincip'alt='logo control+c'src="https://pbs.twimg.com/profile_images/471028351797174272/t5sIKSMd_400x400.jpeg">
    </div>
    <%= yield %>
  <div>
  </body>
  </div>
</html>
